{{> header }}
<form action="/api/sales/data" method="post">
    <div class="imgcontainer">
        <img src="/images/login.png" alt="Avatar" class="avatar">
    </div>
    <div class="container">
        <label for="page"><b>Page No.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></label>
        <input type="text" placeholder="Enter Page No." name="page" required>
        <br>
        <label for="perpage"><b>Records/Page&nbsp;</b></label>
        <input type="text" placeholder="Enter Records per page" name="perpage" required>
        <br>
        <label for="location"><b>Store Location</b></label>
        <input type="text" placeholder="Enter store location" name="location">
        <br>
        <button type="submit">Submit</button>
    </div>
</form>
{{> footer }}