{{> header }}
<form action="/api/sales/form" method="post">
    <div class="imgcontainer">
        <img src="/images/login.png" alt="Avatar" class="avatar">
    </div>
    <div class="container">
        <label for="token"><b>Token  </b></label>
        <input type="text" placeholder="Enter Token" name="token" required>
        <br>
        <button type="submit">Submit</button>
    </div>
</form>
{{> footer }}